<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="menu">
    <a href="/admin/main" class="list-group-item list-group-item-action" style="border-left: 2px solid red">통계</a>
    <a href="/admin/userManage" class="list-group-item list-group-item-action">유저 관리</a>
    <a href="/admin/urlManage" class="list-group-item list-group-item-action">URL 관리</a>
    <a href="/admin/banUrlManage" class="list-group-item list-group-item-action">차단 URL 관리</a>
</div>
<div layout:fragment="content">
    <div id="day-url-data" th:data-field="${adminData.getDayUrlCount()}"></div>
    <div id="day-user-data" th:data-field="${adminData.getDayUserCount()}"></div>
    <div id="day-access-url-data" th:data-field="${adminData.getDayAccessUrlCount()}"></div>
    <div class="container">
        <div class="admin-content row align-items-center justify-content-center">
            <div class=" form-control shadow-sm col-4" style="font-size:20px; height: 100px">
                <div class="admin-total-text">
                    유저수<br>
                    <div th:text="${adminData.getTotalUserCount()}"></div>
                </div>
            </div>
            <div class=" form-control shadow-sm col-4" style="font-size:20px; height: 100px">
                <div class="admin-total-text">
                    URL<br>
                    <div th:text="${adminData.getTotalUrlCount()}"></div>
                </div>
            </div>
            <div class=" form-control shadow-sm col-4" style="font-size:20px; height: 100px">
                <div class="admin-total-text">
                    URL 접근<br>
                    <div th:text="${adminData.getTotalAccessUrlCount()}"></div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="admin-chart col-6 shadow-sm">
                <div style="text-align: center; font-size: 15px">
                    7일간 URL 등록
                </div>
                <canvas id="day-url-count" height="200"></canvas>
            </div>
            <div class="admin-chart col-6 shadow-sm">
                <div style="text-align: center; font-size: 15px">
                    7일간 회원가입
                </div>
                <canvas id="day-user-count" height="200"></canvas>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="admin-chart col-12 shadow-sm">
                <div style="text-align: center; font-size: 15px">
                    7일간 URL 접근 수
                </div>
                <canvas id="day-access-url-count" height="100"></canvas>
            </div>
        </div>
        <script>makeChart();</script>
    </div>
</div>
</body>
</html>
