<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin"lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="menu">
    <a href="/admin/main" class="list-group-item list-group-item-action">통계</a>
    <a href="/admin/userManage" class="list-group-item list-group-item-action" style="border-left: 2px solid red">유저 관리</a>
    <a href="/admin/urlManage" class="list-group-item list-group-item-action">URL 관리</a>
    <a href="/admin/banUrlManage" class="list-group-item list-group-item-action">차단 URL 관리</a>
</div>
<div layout:fragment="content">

</div>
</body>
</html>
