<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/user_setting">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="menu">
    <a href="/user/setting/info" class="list-group-item list-group-item-action">개인 정보</a>
    <a href="/user/setting/editInfo" class="list-group-item list-group-item-action">개인 정보 수정</a>
    <a href="/user/setting/editNickname" class="list-group-item list-group-item-action" style="border-left: 2px solid red">닉네임 수정</a>
    <a href="/user/setting/editPassword" class="list-group-item list-group-item-action">비밀번호 변경</a>
    <a href="/user/setting/delete" class="list-group-item list-group-item-action">회원탈퇴</a>
</div>

<div layout:fragment="content">
    <div class="form-group content-name">
        닉네임 수정
    </div>

    <div id="nickname-check" data-check="0"></div>
    <div class="form-group">
        <label for="nickname">닉네임</label><br>
        <input class="form-control" th:value="${nickname}" oninput="requestCheckNickname()" id="nickname" th:name="${nickname}">
        <small id="nickname-check-help" style="color: green;"></small>
    </div>
    <button type="button" onclick="requestEditNickname()" class="btn btn-success col-2">수정</button>
</div>
</body>
</html>
