<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Short URL</title>

</head>
<body>
<div class="container">
    <br><br><br>
    <div class="row justify-content-center">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="enter_url" id="enter_url" placeholder="Enter your URL">
            <div class="input-group-append">
                <button onclick="requestGuestCreateUrl()" class="btn btn-primary " type="button">Convert</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6" style="text-align: center; margin-top: 80px;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">원본 URL</th>
                    <th scope="col">단축 URL</th>
                </tr>
                </thead>
                <tbody id="urlList">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/guest/guestProcess.js}"></script>
<script type="text/javascript" th:src="@{/js/guest/guestResponse.js}"></script>
</body>
</html>
