<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div class="container info-container" style="padding-top: 50px; max-width: 1000px">
            <div class="col-4 float-left">
                <div class="list-group">
                    <div href="#" class="list-group-item list-group-item-action active">
                        정보
                    </div>
                    <th:block layout:fragment="menu"></th:block>
                </div>
            </div>
            <div class="col-8 float-left">
                <div class="list-group contents">
                    <th:block layout:fragment="content"></th:block>
                </div>
            </div>
        </div>
        <script type="text/javascript" th:src="@{/js/user/userSetting.js}"></script>
        <script type="text/javascript" th:src="@{/js/user/userResponse.js}"></script>
        <script type="text/javascript" th:src="@{/js/constConfig.js}"></script>
    </body>
</html>
